/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {background: url('../img/bg.jpg')}
.autocomplete-w1 { position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#444; color:#fff; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#222; }
.autocomplete div { padding:10px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#3399FF; }
a.underline {text-decoration: underline;}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */
#page-login fieldset {border: 1px solid #6d7a8b; background: #f2f3f5; padding-bottom: 10px}
#page-login fieldset legend {color: #999a9c; background: none}
#page-login label {color: #999a9c}
#page-login .submit {background: #dde5f0; border: 1px solid #dedfe1; color: #6d7a8b; padding: 5px; border-radius: 3px;}
#page-login .submit:hover {border: 1px solid #d9dade; cursor: pointer; }

/* -----------------------------------------
   Page Name 2
----------------------------------------- */



