<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="viewport" content="width=1024, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{{ Aplicacion }}</title>
		<link rel="stylesheet" href="http://huancayo.halcourierhyo.com/static/css/reset.css" />
		<link rel="stylesheet" href="http://huancayo.halcourierhyo.com/static/css/login.css" />
	</head>
	<body id="login">
		<div id="login_container">
			<div id="A0A">
				{% for message in messages %}
				<p>{{ message }}</p>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
