<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ Add.app.nombre }}</title>
		<link rel="stylesheet" href="/static/css/foundation.min.css">
		<link rel="stylesheet" href="/static/css/app.css">
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jsdeferred.jquery.js"></script>
		<script src="/static/js/app.js"></script>
		{% block script %}{% endblock %}
	</head>
	{% block body %}
	{% endblock %}
		<footer class="row">
			<div class="twelve columns">
				<hr />
				<div class="row">
					<div class="six columns">
						<p>&copy; Todos los derechos reservados a Halcourier Huancayo.</p>
					</div>
					<div class="six columns">
						<ul class="inline-list right">
							<li><a href="#">soporte@halcourierhyo.com</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>