{% extends 'base.html' %}
	{% block script %}
	<script type="text/javascript" src="/static/js/jquery.autocomplete.js"></script>
	<script type="text/javascript" src="/static/js/client.js"></script>
	<script type="text/javascript">
		var generals = {
			'local' : '{{ local.Local.id }}'
		}
	</script>
	{% endblock %}
	{% block body %}
	<body id="page-client">
		<div class="row">
			<div class="six columns centered">
				<h5 class="center">Datos del Cliente</h5>
				<table class="twelve">
					<tr>
						<td>Local: </td>
						<td>{{ local.Local.local }}</td>
					</tr>
					<tr>
						<td>Responsable / Monitor:  </td>
						<td>{{ local.Local.responsable }} / {{ usuario.username }}</td>
					</tr>
					<tr>
						<td><a href="/logout/">Salir</a></td>
						<td></td>
					</tr>
				</table>
				<hr>
				<form>
					<fieldset>
						<legend>Búsqueda de Documentos</legend>
						<p>
							<label>Número de documento</label>
							<input type="text" id="query_ndocumento" >
						</p>
					</fieldset>
				</form>
				<hr>
				<h5>Documento</h5>
				<table class="twelve">
					<tr>
						<td>N° Documento</td>
						<td><strong id="text_ndocumento"></strong></td>
					</tr>
					<tr>
						<td>Estado</td>
						<td><strong id="text_estado"></strong></td>
					</tr>					
				</table>
			</div>
		</div>
	{% endblock %}