{% extends 'base.html' %}	
	{% block body %}
	<body id="page-login">
		<div class="row">
			<div class="six columns centered">
				<form action="/login/" method="post">{% csrf_token %}
					<fieldset>
						<legend>Inicio de Sesión</legend>
						<div class="row">
	  						<div class="twelve columns">
	  							{{ formlogin.as_p }}
							</div>
						</div>
						<div class="row">
							<div class="twelve columns">
								<input type="submit" class="submit" value="Iniciar" >
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	{% endblock %}